# **Web Scraing for Financial Data**

### Web Scraping from Yahoo Finance

https://finance.yahoo.com

In [78]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import json
import re

In [79]:
# Let's get Income Statement for Microsoft Corporation
index = 'AAPL'

# URL links for Financial Statements
url_is = 'https://finance.yahoo.com/quote/' + index + '/financials?p=' + index
url_bs = 'https://finance.yahoo.com/quote/' + index +'/balance-sheet?p=' + index
url_cf = 'https://finance.yahoo.com/quote/' + index + '/cash-flow?p='+ index

In [81]:
headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36'}

In [82]:
page = requests.get(url_is, headers = headers)
soup = BeautifulSoup(page.text, "html.parser")

In [83]:
pattern = re.compile(r'\s--\sData\s--\s')
data1 = soup.find('script', text = pattern).contents[0]

In [84]:
start = data1.find("context")-2

In [85]:
json_data = json.loads(data1[start:-12])
json_data["context"].keys()

dict_keys(['dispatcher', 'options', 'plugins'])

In [86]:
annual_is = json_data['context']['dispatcher']['stores']['QuoteSummaryStore']['incomeStatementHistory']['incomeStatementHistory']

In [87]:
annual_is[0]
annual_is_stmts = []

# consolidate annual
for s in annual_is:
    statement = {}
    for key, val in s.items():
        try:
            statement[key] = val['raw']
        except TypeError:
            continue
        except KeyError:
            continue
    annual_is_stmts.append(statement)

In [88]:
annual_is_stmts

[{'researchDevelopment': 26251000000,
  'incomeBeforeTax': 119103000000,
  'netIncome': 99803000000,
  'sellingGeneralAdministrative': 25094000000,
  'grossProfit': 170782000000,
  'ebit': 119437000000,
  'endDate': 1663977600,
  'operatingIncome': 119437000000,
  'interestExpense': -2931000000,
  'incomeTaxExpense': 19300000000,
  'totalRevenue': 394328000000,
  'totalOperatingExpenses': 274891000000,
  'costOfRevenue': 223546000000,
  'totalOtherIncomeExpenseNet': -334000000,
  'netIncomeFromContinuingOps': 99803000000,
  'netIncomeApplicableToCommonShares': 99803000000},
 {'researchDevelopment': 21914000000,
  'incomeBeforeTax': 109207000000,
  'netIncome': 94680000000,
  'sellingGeneralAdministrative': 21973000000,
  'grossProfit': 152836000000,
  'ebit': 108949000000,
  'endDate': 1632528000,
  'operatingIncome': 108949000000,
  'interestExpense': -2645000000,
  'incomeTaxExpense': 14527000000,
  'totalRevenue': 365817000000,
  'totalOperatingExpenses': 256868000000,
  'costOfRevenue': 212981000000,
  'totalOtherIncomeExpenseNet': 258000000,
  'netIncomeFromContinuingOps': 94680000000,
  'netIncomeApplicableToCommonShares': 94680000000},
 {'researchDevelopment': 18752000000,
  'incomeBeforeTax': 67091000000,
  'netIncome': 57411000000,
  'sellingGeneralAdministrative': 19916000000,
  'grossProfit': 104956000000,
  'ebit': 66288000000,
  'endDate': 1601078400,
  'operatingIncome': 66288000000,
  'interestExpense': -2873000000,
  'incomeTaxExpense': 9680000000,
  'totalRevenue': 274515000000,
  'totalOperatingExpenses': 208227000000,
  'costOfRevenue': 169559000000,
  'totalOtherIncomeExpenseNet': 803000000,
  'netIncomeFromContinuingOps': 57411000000,
  'netIncomeApplicableToCommonShares': 57411000000},
 {'researchDevelopment': 16217000000,
  'incomeBeforeTax': 65737000000,
  'netIncome': 55256000000,
  'sellingGeneralAdministrative': 18245000000,
  'grossProfit': 98392000000,
  'ebit': 63930000000,
  'endDate': 1569628800,
  'operatingIncome': 63930000000,
  'interestExpense': -3576000000,
  'incomeTaxExpense': 10481000000,
  'totalRevenue': 260174000000,
  'totalOperatingExpenses': 196244000000,
  'costOfRevenue': 161782000000,
  'totalOtherIncomeExpenseNet': 1807000000,
  'netIncomeFromContinuingOps': 55256000000,
  'netIncomeApplicableToCommonShares': 55256000000}]

In [89]:
df = pd.DataFrame(annual_is_stmts)
df

,researchDevelopment,incomeBeforeTax,netIncome,sellingGeneralAdministrative,grossProfit,ebit,endDate,operatingIncome,interestExpense,incomeTaxExpense,totalRevenue,totalOperatingExpenses,costOfRevenue,totalOtherIncomeExpenseNet,netIncomeFromContinuingOps,netIncomeApplicableToCommonShares
0,26251000000,119103000000,99803000000,25094000000,170782000000,119437000000,1663977600,119437000000,-2931000000,19300000000,394328000000,274891000000,223546000000,-334000000,99803000000,99803000000
1,21914000000,109207000000,94680000000,21973000000,152836000000,108949000000,1632528000,108949000000,-2645000000,14527000000,365817000000,256868000000,212981000000,258000000,94680000000,94680000000
2,18752000000,67091000000,57411000000,19916000000,104956000000,66288000000,1601078400,66288000000,-2873000000,9680000000,274515000000,208227000000,169559000000,803000000,57411000000,57411000000
3,16217000000,65737000000,55256000000,18245000000,98392000000,63930000000,1569628800,63930000000,-3576000000,10481000000,260174000000,196244000000,161782000000,1807000000,55256000000,55256000000